.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: -2%;
}

.stepContent {
  margin-top: 5%;
}

.steps {
  text-align: left;
  padding-left: 37%;
}

.buttonPadding {
  margin-left: 5%;
}
