@import "~normalize.css";
@import "~rc-progress/assets/index.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');

body {
  position: relative;
  color: #313131;
  height: 100vh;
  background-color: #f1f3f4;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-y: hidden;
  letter-spacing: 1.2px;
  padding:1rem;
}

#main {
	height: calc(100vh - 2rem);
	background: #fff;
}

#main>div {
  height: 100%;
}
