@import "~normalize.css";
@import "~flexboxgrid/css/flexboxgrid.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  position: relative;
  color: #000;
  height: 100vh;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow: hidden;
  letter-spacing: 1.2px;
}

#main {
	height: calc(100vh);
}
