@import "./includes/variables.scss";

a.button,
.button {
	display: inline-block;
	width: auto;
	text-align: center;
	text-transform: lowercase;
	font-weight: 300;
	background: none;
	padding: .6rem 1rem;
	color: $color-black;
	text-decoration: none;
	border: 1px solid $color-black;

	&:hover,
	&:focus {
		background: $color-green;
	}

	&Disabled {
		pointer-events: none;
		background: $color-grey;
		border: 1px solid $color-grey;
	}
}
