@import "./includes/variables.scss";

.sidebar {
	background: $color-green;
	height: 100vh;
	padding: 25px;

	.sidebarLogo {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		height: 2rem;

		span {
			font-size: 0;
		}
	}

	.sidebarLinks {
		text-align: center;
		margin-top: 620%;

		a {
			color: $color-black;
			text-transform: lowercase;
			text-decoration: none;
			margin-left: 1rem;
			font-weight: 300;
		}
	}
}
