@import "./includes/variables.scss";

.sidebar {
	background: $color-orange;
	height: 100vh;
	padding: 25px;

	.sidebarLogo {
		text-align: right;
		background: url('./images/aergia_logo.svg') transparent top right no-repeat;
		height: 2rem;

		span {
			font-size: 0;
		}
	}

	.sidebarLinks {
		text-align: right;
		margin-top: .5rem;

		a {
			color: $color-black;
			text-transform: lowercase;
			text-decoration: none;
			margin-left: 1rem;
			font-weight: 300;
		}
	}
}
