section {
	height: calc(100%);
	padding: 25px;
	position: relative;

	.title{
		margin: 0;
		text-transform: uppercase;
		font-size: 34px;
		letter-spacing: 4px;
		font-weight: 200;
	}

	.navigation {

		a:nth-child(2) {
			float: right;
		}
	}
}
