section {
	height: 100%;
	padding: 25px;
	position: relative;

	.title{
		margin: 0 0 40px;
		text-transform: uppercase;
		font-size: 34px;
		letter-spacing: 4px;
		font-weight: 200;
	}

	.navigation {

		a:nth-child(2) {
			float: right;
		}
	}

	&.intro {
		text-align: center;
	}
}

.device {
	height: 50%;
	text-align: center;

	&Name {
		margin-bottom: 15px;
	}

	img {
		width: auto;
		max-height: 200px;
		margin: 0 auto;
		display: block;
	}
}

.flagItem{
	img {
		width: auto;
		max-height: 200px;
		margin: 0 auto;
		display: block;
	}
}
